

.desktop-background{
  background: linear-gradient(30deg, rgba(10,20,30,0.4), rgba(30,10,20, 0.4)) !important;

}

.m-text{
  color:#fff !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}


.s-segment{
  margin-top: 865px !important;
  height: 200px;
}

.list-items{
  font-size: 18px !important;
  padding-bottom: 20px !important;
}

.headers{
  text-transform: uppercase !important;
  text-align: center !important;
}

.stacks{
  justify-content: space-between !important;
  flex-direction: row !important;
}
