

.desktop-background{
  background: linear-gradient(30deg, rgba(10,20,30,0.5), rgba(30,10,20, 0.5)) !important;

}

.m-text{
  color:#fff !important;
  font-weight: bold !important;
  text-transform: uppercase !important;
}

.s-grid{
  height:100vh;
}
.s-segment{
  height: 200px;
  border: none !important;
}

.welcome-us{
  padding-top: 140px;
  height: 100vh;
  background-image: url('./assets/welcome-slider-3.webp');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}


.welcome-header{
  padding: 13% !important;
}

.list-items{
  font-size: 16px !important;
  padding-bottom: 20px !important;
}


.headers{
  text-transform: uppercase !important;
  text-align: center !important;
}

.stacks{
  justify-content: space-between !important;
  flex-direction: row !important;
}

.mobile-menu{
  display: none !important;
}



@media screen and (max-width:800px) {

  .s-segment{
    margin-top: 50px !important;
  }

  .desktop-menu{
    display: none !important;
  }

  .mobile-menu{
    display: inline-block !important;
  }
}
